:root {
    --color-black-primary: #24292e;
    --color-black-secondary: #586069;
    --color-black-tertiary: #444d56;
    --color-green-primary: #2ea44f;
    --color-blue-primary: #0366d6;
    --color-yellow-primary: #f1e05a;
    --color-yellow-secondary: #d1d5da;
    --color-white-primary: #fff;
    --color-white-secondary: #e1e4e8;
    --color-white-tertiary: #fafbfc;
}

/**** UTILITY ****/
.hidden {
    display: none !important;
}

#caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    content: "";
    border-top-style: solid;
    border-top-width: 4px;
    border-right: 4px solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 4px solid transparent;
    margin-left: 4px;
    opacity: .8;
    position: relative;
    top: 2px;
    left: 5px;
}

.container {
    padding: 0 16px;
}

/**** HEADER CSS ****/
.header {
    padding: 1.6rem;
    background-color: var(--color-black-primary);
    color: var(--color-white-primary);
    font-size: 1.4rem;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__hamburger,
.header__notifiction,
.header__search-jumpto {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    display: grid;
    place-items: center;
    transform: translateY(0px);
}

.header__hamburger:active {
    opacity:.5;
    transform: translateY(2px);
    transition: transform .2s ease-in-out;

}

.header__logo {}

.header__bottom {
    margin-top: 1.6rem;
}


.header__search {
    height: 30px;
    font-weight: 400;
    width: 100%;
    background: transparent;
    box-shadow: none;
    margin-bottom: 1.6rem;
    border: 1px solid var(--color-black-tertiary);
    border-radius: .6rem;
    padding: .5rem 1.2rem;
    outline: none;
}

.header__user_image {
    width: 20px;
    height:20px;
    border-radius: 100%;
}

.header__search::placeholder {
    color: var(--color-white-secondary)
}

.header__search:focus,
.header__search:active {
    border-color: var(--color-blue-primary);
    background-color: var(--color-black-tertiary);
    caret-color: var(--color-white-primary);
}

.header__search-jumpto {
    position: absolute;
}

.header__links {
    display: block;
    border-top: 1px solid var(--color-black-tertiary);
}

.header__links a {
    padding: .8rem 0;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    font-size: 1.4rem;
    align-items: flex-end;
}

.header__links span {
    padding-left: 3px;
}

.loader, .error {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button.error__button {
    margin-top: 3.2rem;
    width: unset;
    padding: 0.8rem 3.2rem;
    font-size: 14px;
}

/***PROFILE***/
.profile{
    padding: 0.5rem 0;
    margin-bottom: 24px;
}
.profile__user_details_wrapper{
display: flex;
margin-bottom: 24px;
padding-left: 8px;
align-items: center;
}
.profile__image{
width: 16%;
border-radius: 100%;
margin-right: 1.6rem;
}
.profile__name_wrapper{
    padding-left: 8px;
}
.profile__name{
    font-size: 2.6rem;
    font-weight: 600;

}
.profile__username{
font-size: 2rem;
font-weight: 300;
color: var(--color-black-secondary);
line-height: 12px;
}
.profile__set_status,
.profile__edit_profile,
.profile__search_repo,
.header__set_status,
.error__button{
width:100%;
padding: .75rem .8rem;
display: flex;
align-items: center;
background-color: transparent;
border-radius: .6rem;
font-size: 1.2rem;
border: 1px solid var(--color-white-secondary);
color:var(--color-black-secondary);
margin-bottom: .8rem;
cursor:pointer;
}
.profile__svg-smiley {
    margin-right: 8px;
}
.profile__set_status:hover,
.profile__set_status:focus,
.profile__set_status:active,
.header__set_status:hover,
.header__set_status:focus,
.header__set_status:active  {
    color:var(--color-blue-primary)
}
.profile__link{
color: var(--color-black-primary);
font-size: 16px;
margin-bottom: 16px;
}
.profile__edit_profile{
background-color: var(--color-white-tertiary);
justify-content: center;
margin-bottom: 16px;
color: var(--color-black-primary);
font-size: 1.4rem;
font-weight: 500;
cursor: pointer;
padding: .55rem .8rem;
}

.profile__edit_profile:hover {
   opacity:.7;
}
.profile__contact_wrapper{
font-size: 1.4rem;
color: var(--color-black-primary)
}
.profile__contact{

}
.profile__contact li{
    display: flex;
    align-items: flex-end;
    padding-top: .4rem
}
.profile__contact img{
margin-right: 6px;
}
.profile__contact a{
text-decoration: none;
}
.profile__social_count{
margin-top: 8px;
display: flex;
align-items: center;
margin-bottom:16px;
flex-wrap: wrap;
}
.profile__social_link {
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    color: var(--color-black-secondary)
}
.profile__social_link img{
margin-right: 6px;
}
.profile__social_link {

}
.profile__number {
color: var(--color-black-primary);
padding-right: 3px;
font-weight: 600;
}
.profile__social_dot_seperator {
padding: 0 .3em;
position: relative;
    top: -3px;
}

/***PROJECT SECTION***/
.projects {

}

.projects__navigation_tabs--desktop{
    display: none;
}

.projects__navigation_tabs,
.projects__navigation_tabs--desktop {
    width: 100%;
    overflow-x: scroll;
    border-bottom: 1px solid var(--color-white-secondary);
    position: sticky;
    top: -1px;
    background: var(--color-white-primary);
    z-index: 2;
}



.project__navigation_items_wrapper {
    display: flex;
}
.project__navigation_item {
    padding: 8px 16px;
}
.project__navigation_item--active {
    border-bottom: 2px solid #f9826c;
    font-weight: 600;
}

.project__navigation_item a{
    padding: 8px 0;
    display: flex;
    font-size: 14px;
    text-decoration: none;
}
.projects__repo_count {
margin-left: 4px;
background-color: rgba(209, 213, 218, 0.5);
color: var(--color-black-primary);
font-size: 12px;
font-weight: 500;
display: grid;
place-items: center;
/* line-height: -12px; */
padding: 0 6px;
border-radius: 22px;
}
.project__navigation_page {
padding: 16px 0;
/* border-bottom: 1px solid #eaecef; */
}
.project__repo_filter_wrapper {

}
.profile__set_status {
margin-bottom: 16px;
}
.project__repo_filter_controls {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.6rem;
    border-bottom: 1px solid var(--color-white-secondary);

}

.profile__search_repo {
font-size: 1.4rem;
padding: 0.5rem 1.2rem;
margin-bottom: 1.6rem;
outline:none;
}

.profile__search_repo:focus,
.profile__search_repo:active  {
    border-color:var(--color-blue-primary);
    box-shadow: 0 0 0 3px  rgb(3, 102, 214, .4);

}

.project__filter_button {
    padding: .5rem 1.6rem;
    display: flex;
    align-items: center;
    background-color: transparent;
    border-radius: .6rem;
    font-size: 1.4rem;
    cursor: pointer;
    border: 1px solid var(--color-white-secondary);
    color:var(--color-black-secondary);
}
.project__filter_repo_type_wrapper {
display: flex;
}
.project__filter_button--repo_type,
.project__filter_button--repo_language {
    font-style: normal;
    font-weight: 500;
    background-color: var(--color-white-tertiary);
}
.project__filter_button_title {
  opacity: .75;
}
.project__filter_button--repo_language {
margin-left: .8rem;
}
.project__filter_button--create_repo {
color: var(--color-white-primary);
background-color: var(--color-green-primary);
font-weight: 500;
border: none;
}

.project__filter_button--create_repo img{
    margin-right: .4rem
}

.project__repo_list_wrapper {

}
.project__repo_list {
    padding: 24px 0;
    border-bottom: 1px solid var(--color-white-secondary);
}
.project__repo {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.project__repo_info {
    color: var(--color-black-secondary);

}
.project__repo_name {
font-size: 20px;
font-weight: 600;
text-decoration: none;
color:var(--color-blue-primary);
/* margin-bottom: 0.8rem; */
display: inline-block;
}

.project__repo_name:active {
text-decoration: underline;
}
.project__repo_name:visited {
    color:var(--color-blue-primary);
}

.project__repo_forked_details {
    font-size: 1.2rem;
    display: inline-block;
    margin-bottom: 4px;
}

.project__repo_forked_link {
    text-decoration: none;
}

.project__repo_forked_link:hover,
.project__repo_forked_link:active {
    color:var(--color-blue-primary);
}

.project__repo_description {
font-size: 1.4rem;
display: inline-block;
word-wrap: break-word;
margin-bottom: 1.6rem;
width: 80%;
padding-right: 1.6rem;
}
.project__repo_meta {
font-size: 1.2rem;
/* display: flex; */
justify-content: flex-start;
align-items: center;
flex-wrap: wrap;
}

/* .project__repo_meta span{
    display: flex;
} */
.project__repo_language {
    margin-right: 16px;

}
.project_repo_language_color {
    height:1.2rem;
    width: 1.2rem;
    background-color: var(--color-yellow-primary);
    border-radius: 100%;
    position: relative;
    top:1px;
    display: inline-block;
}
.project_repo_language_name,
.project__repo_forked_number,
.project__repo_license_number,
.project__repo_updated_date {
    margin-right: 4px;
    display: inline-block;
}
.project__repo_forked,
.project__repo_license {
    margin-right: 10px;
}
.project__repo_forked_number {
}
.project__repo_license img,
.project__repo_forked img{
position: relative;
top: 4px;
}

.header--desktop {
    display: none;
}
.header--mobile{
    display: block;
}

.project__repo_star_btn {
    /* width:100%; */
    padding: .5rem 1.2rem;
    display: flex;
    align-items: center;
    border-radius: .6rem;
    font-size: 1.2rem;
    border: 1px solid var(--color-white-secondary);
    color:var(--color-black-secondary);
    background-color: var(--color-white-tertiary);
}
.project__repo_star_btn_text {
margin-left: .4rem
}

@media screen and (max-width: 370px){
    .project__filter_button {
        padding: .5rem 1rem;
    }
}
